.vs
SHARP3D/.vscode
SHARP3D/SHARP3D/bin/
SHARP3D/SHARP3D/obj/

SHARP3D/SHARP3D.Explorer/bin/
SHARP3D/SHARP3D.Explorer/obj/

SHARP3D/SHARP3D.Test/bin/
SHARP3D/SHARP3D.Test/obj/

SHARP3D/_site

*.user
*.suo
*.cache
*.pdb
*.dll


SHARP3D/SHARP3D.Test/TestFiles/Sample31/large02.c3d
SHARP3D/SHARP3D.Test/TestFiles/Sample12/c24089 13.c3d
SHARP3D/SHARP3D.Test/SampleFiles/Sample31/large02.c3d
SHARP3D/SHARP3D.Test/SampleFiles/Sample12/c24089 13.c3d
